<div class="page-header">
  <h1>Open Bets <small>Choose wisely</small></h1>
</div>

<!-- Status Readers-->
<div class="col-md-8 col-sm-12">
  <div class="row status-board">

    <div class="col-md-4 col-sm-12">
      <li class="list-group-item">
        Points Scored: <span class="badge">10</span>
      </li>
    </div>
    <div class="col-md-4 col-sm-12">
      <li class="list-group-item">
        Unpicked Games: <span class="badge">4</span>
      </li>
    </div>
    <div class="col-md-4 col-sm-12">
      <li class="list-group-item">
        Locks Remaining: <span class="badge">
          <%= current_user.lock_points %>
        </span>
      </li>
    </div>
  </div>
</div>



<% @matchups.each do |matchup| %>
  <% unless current_user.picked_matchup?(matchup) %>
  <div class="panel panel-default matchup">

    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="matchup-title">Matchup #<%=matchup.id %></h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card_left">
                <img class="" src=<%= matchup.away_picture %>/>
            </div>
            <div class="card_right">
              <div class="container-fluid right-con">

                <div class="row row-no-padding row-one">
                  <div class="col-xs-12">
                    <h1><%= matchup.away_team%> <%=matchup.away_line_style %></h1>
                  </div>
                </div>
                <div class="row row-no-padding row-two">
                  <div class="col-xs-6 detail-holder">
                    <p class="details"><%= matchup.away_detail%></p>
                  </div>
                  <div class="col-xs-6 detail-holder">
                    <p class="details">Away</p>
                  </div>
                </div>




                <div class="row row-no-padding row-three">
                  <div class="col-sm-6 btns">
                     <%= link_to picks_path(pick: {matchup_id: matchup.id, lock: false, choice: "away"}), method: :post do %>
                        <button class="cool-btn">
                          Pick
                        </button>
                      <% end %>
                  </div>
                  <div class="col-sm-6 btns">
                    <%= link_to picks_path(pick: {matchup_id: matchup.id, lock: true, choice: "away"}), method: :post do %>
                       <button class="cool-btn">
                         Lock Pick
                       </button>
                     <% end %>
                  </div>
                </div>






              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card_left">
                <img class="" src=<%= matchup.home_picture %>/>
            </div>
            <div class="card_right">
              <div class="container-fluid right-con">

                <div class="row row-no-padding row-one">
                  <div class="col-xs-12">
                    <h1><%= matchup.home_team%> <%=matchup.home_line_style %></h1>
                  </div>
                </div>
                <div class="row row-no-padding row-two">
                  <div class="col-xs-6 detail-holder">
                    <p class="details"><%= matchup.home_detail %></p>
                  </div>

                  <div class="col-xs-6 detail-holder">
                    <p class="details">Home</p>
                  </div>
                </div>


                <div class="row row-no-padding row-three">
                  <div class="col-sm-6 btns">
                     <%= link_to picks_path(pick: {matchup_id: matchup.id, lock: false, choice: "home"}), method: :post do %>
                        <button class="cool-btn">
                          Pick
                        </button>
                      <% end %>
                  </div>
                  <div class="col-sm-6 btns">
                    <%= link_to picks_path(pick: {matchup_id: matchup.id, lock: true, choice: "home"}), method: :post do %>
                       <button class="cool-btn">
                         Lock Pick
                       </button>
                     <% end %>
                  </div>
                </div>






              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
