<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>Crop Avatar</h4>
  </div>
  <div class="panel-body">


  <%= image_tag @user.avatar_url(:large), id: "cropbox" %>

  <h4>Preview:</h4>

  <div style="width:100px; height:100px; overflow:hidden">
    <%= image_tag @user.avatar.url(:large), :id => "preview" %>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
    <div>
      <br>
      <%= f.submit "Crop", class: "btn btn-dark" %>
    </div>
  <% end %>

</div>
</div>
