<div class="row">

    <!-- Profile Card -->
  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= @user.username %>'s Profile </h1>
      </div>
      <div class="panel-body">
        <%= image_tag @user.avatar.small.url, class: "img-responsive profile-pic center-block" if @user.avatar? %>
        <br >
        <ul class="list-group">
          <li class="list-group-item"><strong>Real Name:</strong> <%= @user.full_name %> </li>
          <li class="list-group-item"><strong>Email:</strong> <%= @user.email %> </li>
          <li class="list-group-item"><strong>Championships:</strong> <%= @user.championships %> </li>
          <li class="list-group-item"><strong>Last sign in:</strong> <%= @user.last_sign_in_at %> </li>
          <% if @user.admin %>
            <li class="list-group-item"><strong>Admin?:</strong> Yes </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Status Readers-->
  <%= render 'status_board' %>
  
  <!-- Pick Cards -->
  <div class="col-md-8 col-sm-12">
    <% @picks.each do |pick| %>
      <% if pick.choice == "away" %>
         <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card_left">
                <img class="" src=<%= pick.matchup.away_picture %>/>
                <% if pick.lock %>
                  <span class="glyphicon ion-ios-locked"></span>
                <% end %>
              </div>
              <div class="card_right">
                <div class="container-fluid right-con">
                  <div class="row row-no-padding row-one">
                    <div class="col-xs-12">
                      <h1><%= pick.matchup.away_team%> <%= pick.matchup.away_line_style %></h1>
                    </div>
                  </div>
                  <div class="row row-no-padding row-two">
                    <div class="col-xs-6 detail-holder">
                      <p class="details"><%= pick.matchup.away_detail%></p>
                    </div>
                    <div class="col-xs-6 detail-holder">
                      <p class="details">Away</p>
                    </div>
                  </div>
                  <div class="row row-no-padding row-three">
                    <div class="col-sm-6 btns">
                      <% unless pick.closed? %>
                        <%= link_to pick, method: :delete do %>
                          <button class="delete-pick  cool-btn">
                            Delete Pick
                          </button>
                        <% end %>
                      <% else %>
                        <div class="cool-div">
                          <div class="status">
                            <%= pick.result %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-sm-6 btns">
                         <div class="cool-div">
                           <div class="status">
                             <h6>Pick is: <%=pick.status%></h6>
                           </div>
                         </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card_left">
                  <img class="" src=<%= pick.matchup.home_picture %>/>
                  <% if pick.lock %>
                    <span class="glyphicon ion-ios-locked"></span>
                  <% end %>
              </div>
              <div class="card_right">
                <div class="container-fluid right-con">
                  <div class="row row-no-padding row-one">
                    <div class="col-xs-12">
                      <h1><%= pick.matchup.home_team%> <%= pick.matchup.home_line_style %></h1>
                    </div>
                  </div>
                  <div class="row row-no-padding row-two">
                    <div class="col-xs-6 detail-holder">
                      <p class="details"><%= pick.matchup.home_detail %></p>
                    </div>
                    <div class="col-xs-6 detail-holder">
                      <p class="details">Home</p>
                    </div>
                  </div>
                  <div class="row row-no-padding row-three">
                    <div class="col-sm-6 btns">
                      <% unless pick.closed? %>
                         <%= link_to pick, method: :delete do %>
                            <button class="delete-pick cool-btn">
                              Delete Pick
                            </button>
                          <% end %>
                      <% end %>
                    </div>
                    <div class="col-sm-6 btns">
                         <div class="cool-div">
                           <div class="status">
                             <h6>Pick is: <%=pick.status%></h6>
                           </div>
                         </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
