<div class="row">

    <!-- Profile Card -->
  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= @user.username.possessive %> Profile </h1>
      </div>
      <div class="panel-body">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.small.url, class: "img-responsive profile-pic center-block"%>
        <% else %>
          <%= image_tag("default_avatar.jpg", class: "img-responsive profile-pic center-block") %>
        <% end %>
        <br >
        <ul class="list-group">
          <li class="list-group-item"><strong>Real Name:</strong> <%= @user.full_name %> </li>
          <li class="list-group-item"><strong>Email:</strong> <%= @user.email %> </li>
          <li class="list-group-item"><strong>Championships:</strong><% @user.championships.times do %>
            <span class="ion-trophy"></span>
          <% end %></li>
          <li class="list-group-item"><strong>Last sign in:</strong> <%= @user.last_sign_in_at %> </li>
          <% if @user.admin %>
            <li class="list-group-item"><strong>Admin?:</strong> Yes </li>
          <% end %>
        </ul>
        <% if @user == current_user %>
          <%= link_to "Edit Profile", edit_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Status Readers-->
  <% if @user == current_user %>

      <%= render 'status_board' %>

  <% end %>

  <!-- Go make picks -->
  <% if current_user == @user %>
    <div id="unpicked">
      <% if current_user.unpicked_games > 0 %>
          <div class="col-md-8 col-sm-12">
            <div class="well">
              <h3>You have unpicked games! </h3>
              <h4>Go to <%=link_to "Home", root_url %> to make picks</h4>
            </div>
          </div>
      <% end %>
    </div>
  <% end %>

  <!-- Pick Cards  -->
  <div class="col-md-8 col-sm-12">
    <% @picks.each do |pick| %>
      <% if pick.choice == "away" %>
         <div class="row">
          <div class="col-md-12">
            <div class="card">
              <% if pick.loss? %>
              <div class="grey-out">
              <% end %>
                <div class="card_left">
                  <img class="" src=<%= pick.matchup.away_picture %>/>
                  <% if pick.lock %>
                    <span class="glyphicon ion-ios-locked"></span>
                  <% end %>
                  <% if pick.win? %>
                    <span class="glyphicon ion-star"></span>
                  <% end %>
                  <% if pick.loss? %>
                    <span class="glyphicon ion-close-circled"></span>
                  <% end %>
                </div>
              <% if pick.loss? %>
              </div>
              <% end %>
              <div class="card_right">
                <div class="container-fluid right-con">
                  <div class="row row-no-padding row-one">
                    <div class="col-xs-12">
                      <h1><%= pick.matchup.away_team%> <%= pick.matchup.away_line_style %></h1>
                    </div>
                  </div>
                  <div class="row row-no-padding row-two">
                    <div class="col-xs-6 detail-holder">
                      <p class="details"><%= pick.matchup.away_detail%></p>
                    </div>
                    <div class="col-xs-6 detail-holder">
                      <p class="details">Away</p>
                    </div>
                  </div>
                  <div class="row row-no-padding row-three">
                    <div class="col-sm-6 btns">
                      <% unless pick.closed? %>
                        <%= link_to(pick, method: :delete, remote: true, class: "delete_pick") do %>
                          <button class="delete-pick  cool-btn">
                            Delete Pick
                          </button>
                        <% end %>
                      <% else %>
                        <div class="cool-div">
                          <div class="status">
                            <%= pick.result %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-sm-6 btns">
                         <div class="cool-div">
                           <div class="status">
                             <p class="pick-status">Pick is: <%=pick.status%></p>
                           </div>
                         </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <% if pick.loss? %>
              <div class="grey-out">
              <% end %>
              <div class="card_left">
                  <img class="" src=<%= pick.matchup.home_picture %>/>
                  <% if pick.lock %>
                    <span class="glyphicon ion-ios-locked"></span>
                  <% end %>
                  <% if pick.win? %>
                    <span class="glyphicon ion-star"></span>
                  <% end %>
                  <% if pick.loss? %>
                    <span class="glyphicon ion-close-circled"></span>
                  <% end %>
              </div>
              <% if pick.loss? %>
              </div>
              <% end %>
              <div class="card_right">
                <div class="container-fluid right-con">
                  <div class="row row-no-padding row-one">
                    <div class="col-xs-12">
                      <h1><%= pick.matchup.home_team%> <%= pick.matchup.home_line_style %></h1>
                    </div>
                  </div>
                  <div class="row row-no-padding row-two">
                    <div class="col-xs-6 detail-holder">
                      <p class="details"><%= pick.matchup.home_detail %></p>
                    </div>
                    <div class="col-xs-6 detail-holder">
                      <p class="details">Home</p>
                    </div>
                  </div>
                  <div class="row row-no-padding row-three">
                    <div class="col-sm-6 btns">
                      <% unless pick.closed? %>
                        <%= link_to(pick, method: :delete, remote: true, class: "delete_pick") do %>
                          <button class="delete-pick  cool-btn">
                            Delete Pick
                          </button>
                        <% end %>
                      <% else %>
                        <div class="cool-div">
                          <div class="status">
                            <%= pick.result %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-sm-6 btns">
                         <div class="cool-div">
                           <div class="status">
                             <p class="pick-status">Pick is: <%=pick.status%></p>
                           </div>
                         </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- End Pick Cards -->

</div>
