<h1> New Matchup: </h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <%= simple_form_for(@matchup, html: { class: 'form-horizontal' }) do |f| %>
        <%= f.input :title %>
        <%= f.input :home_team %>
        <%= f.input :home_line %>
        <%= f.input :home_detail %>
        <%= f.input :home_picture %>
        <%= f.input :away_team %>
        <%= f.input :away_line %>
        <%= f.input :away_detail %>
        <%= f.input :away_picture %>
        <%= f.input :closing_time, label: 'Closing Time (UTC Timezone):' %>
        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
