<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "NFL ATS Challenge 2017" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>


    <%= javascript_include_tag "application" %>


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a class="navbar-brand on-top" href= <%= root_path %> >
                <i class="ionicons ion-ios-americanfootball-outline"></i>
                NFL ATS Challenge 2017
              </a>
            </li>
            <br>
            <% if user_signed_in? %>
              <li><%= link_to "My Profile", current_user %></li>
              <li><%= link_to "Leaderboard", users_path %></li>
              <li><%= link_to "Rules", '/rules' %></li>
              <% if current_user.admin %>
                <li><%= link_to "Admin", '/admin' %></li>
              <% end %>
              <li><%= link_to "Settings", edit_user_registration_path  %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li>
            <% else %>

            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <br>
        <span class="glyphicon glyphicon-folder-open 2017"></span>_2017 by Brock Tillotson
      </footer>

    </div> <!-- /container -->

  </body>
</html>
